
    #map { 
        width: 800px; 
        height: 700px; 
    }

    .marker{
        background-image: url('/images/red.png');
        width: 20px;
        height: 30px;
        cursor: pointer;
        border-radius: 5px;
    }

    .edit-review-form{
        display: none;
    }
