<h1>New Post</h1>
<form action="/posts/new" method="POST">    
    <input type="text" name="title" placeholder="Title"><br />
    <input type="text" name="Price" placeholder="Price"><br />
    <textarea name="description" placeholder="Description"></textarea><br />
    <input type="text" name="ocation" placeholder="Location"><br />

    <input type="submit" placeholder="Submit">
</form>